.inline-music-buttons {
  .inline-music-buttons__button {
    &--ban-user {
      background-image: url('/BanUser.png');
    }
    &--resume {
      background-image: url('/Resume.png');
    }
    &--pause {
      background-image: url('/Pause.png');
    }
    &--next-song {
      background-image: url('/NextSong.png');
    }
    &--ban-song {
      background-image: url('/BanSong.png');
    }
  }
  * {
    background-size: cover;
    background-color: white;
    padding: 5px;
  }
}
