.inline-music-buttons {
  $base-url: './../../../../../public/';

  .inline-music-buttons__button {
    &--ban-user {
      background-image: url('#{$base-url}BanUser.png');
    }
    &--resume {
      background-image: url('#{$base-url}Resume.png');
    }
    &--next-song {
      background-image: url('#{$base-url}nextSong.png');
    }
    &--ban-song {
      background-image: url('#{$base-url}BanSong.png');
    }
  }
  * {
    background-size: cover;
    background-color: white;
    padding: 5px;
  }
}
