.commands-form {
  &--text {
    margin-top: 10px;
  }
  &--title {
    margin-bottom: 0px;
  }
  &--input {
    margin: auto 5px;
  }
  &--select {
  }
  &--inline {
  }
  & .overline {
    border-top: 2px solid black;
  }
}
