.commands-form {
  &--text {
    margin-top: 10px;
  }
  &--title {
    margin-bottom: 0px;
  }
  &--input {
    margin: auto 5px;
  }
  &--select {
  }
  &--inline {
  }
  &--sub-text {
    margin-top: 0px;
  }
  & .overline {
    border-top: 2px solid #eb9834;
    padding: 5px;
  }
  & .bottom-space {
    margin-bottom: 5px;
  }
}
