.settings__button {
  &--bot {
    padding: 5px;
    min-height: 35px;
  }
  &--song-request {
    padding: 5px;
    min-height: 35px;
  }
  &--gambling {
    padding: 5px;
    min-height: 35px;
  }
}
