.login-section {
  display: block;
  flex: none;
  margin: 15vh auto;
  &--title {
    height: auto;
  }
  &--error {
    padding: 0 10px 10px 10px;
    max-width: 400px;
    height: auto;
    color: red;
  }
}
