.home-music-section {
  .home-music-section__container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @media screen and (max-width: 675px) {
      display: block;
    }
  }
}
