.footer {
  background-color: #eb9834;
  margin-top: auto;
  display: flex;
  justify-content: center;

  &--link {
    padding: 5px;
    display: block;
    width: 35px;
  }
  &--text {
    padding: 5px;
    display: block;
    font-size: 30px;
  }
}
