.refresh {
  $base-url: '/';
  margin-right: auto;
  justify-content: left;
  margin-left: 10%;
  &--button {
    background-image: url('#{$base-url}Refresh.png');
    background-size: cover;
  }
  &--text {
    margin-left: 10px;
  }
}
